.panel-current-nav {
  font-size: 1rem;
}
.panel-current-display {
  /*background: rgba(0, 0, 255, .54)!important;*/
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.34);
  padding: 1rem;
}
.panel-current-display:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.34);
}
.panel-current {
  background: rgba(255, 255, 255, 1)!important;
  padding-bottom: 0!important;
}

.panel-current-edit > textarea, .panel-current-edit > input {
  border: none;
  padding: 0 0!important;
}
.panel-current-edit > textarea {
  min-height: 7rem;
  color: rgba(0, 50, 50, 0.87);
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: .5rem;
  font-family: inherit;
}
.panel-current-edit > input {
  color: rgba(0, 50, 50, 0.54);
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;
}

.panel-info {
  background: rgba(255, 255, 255, 1)!important;
}
article > h1 {
  color: rgba(0, 50, 50, 0.87);
  font-weight: 600;
  font-size: 2rem;
}
article > p {
  color: rgba(0, 50, 50, 0.87);
  font-weight: 300;
  font-size: 1.25rem;
}

.panel-todos {
  background: rgba(255, 255, 255, 1)!important;
  padding-top: 0!important;
  /*background: rgba(255, 130, 0, .54)!important;*/
}
.panel-todos > table {
  /*transition: box-shadow 1s;*/
}
.panel-todos >table:hover {
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.34);*/
}

.elem:hover {
  cursor: pointer;
}

.elem-note {
  color: rgba(0, 125, 125, .87);
  font-weight: 400;
  font-size: .75rem;
}
.elem-note:hover {
  color: rgba(0, 200, 200, .87);
}

.elem-edited {
  /*background-color: rgba(255, 150, 0, .54);*/
  color: rgba(0, 200, 200, .87);
}
.elem-edited:hover {
  /*background-color: rgba(255, 150, 0, .54);*/
}

.elem-todo {
  color: rgba(0, 50, 50, 0.87);
  font-weight: 300;
  transition: color .25s;
}
.elem-todo:hover {
  color: rgba(0, 125, 75, 0.87);
}

.elem-checked {
  color: rgba(0, 125, 75, 0.87);
  transition: color .25s;
}
.elem-checked:hover {
  color: rgba(0, 50, 50, 0.87);
}

.fa-toggle-right {
  margin-left: 1rem;
}
.fa-toggle-left {
  margin-right: 1rem;
}

.note-date {
  color: rgba(0, 50, 50, 0.54);
  font-weight: 600;
  font-size: 1rem;
}
.note-text {
  color: rgba(0, 50, 50, 0.87);
  font-weight: 300;
  font-size: 1.25rem;
}

.fa, .btn {
  color: rgba(0, 125, 125, .54);
}
.fa:hover, .btn:hover {
  color: rgba(0, 200, 200, .87);
}
.btn {
  background: none;
}
.btn-circled {
  background: white;
  border-radius: 2rem!important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.34);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.34);
  width: 3rem;
  height: 3rem;
  /*background: rgba(0,150,150,.11);*/
}
.btn-circled:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.34);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.34);
}
.input-shadowed {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.34);
  border: none!important;
}

.panel-current-display-top-gradient {
  height: 1rem;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008080+0,00fae1+100 */
  background: rgb(0,128,128); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(0,125,125,1) 0%, rgba(0,175,175,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,125,125,1) 0%,rgba(0,175,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,125,125,1) 0%,rgba(0,175,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#00fae1',GradientType=1 ); /* IE6-9 */
}
article, .panel-current-edit {
  margin-top: 1rem;
}
.panel-current-display {
  border-radius: .1rem;
}

aside {
  position: fixed;
  bottom: 0;
  right: 2rem;
  display: flex;
  flex-direction: column-reverse;
}
.toast {
  background: black;
  color: white;
  text-shadow: 0 0 1px white;
  font-weight: 300;
  /*font-size: 1rem;*/
  text-transform: uppercase;
  text-align: center;
  animation-name: toast;
  animation-duration: 5s;
  padding: 1rem!important;
  background: rgb(0,128,128)!important; /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(0,125,125,1) 0%, rgba(0,175,175,1) 100%)!important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,125,125,1) 0%,rgba(0,175,175,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,125,125,1) 0%,rgba(0,175,175,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#00fae1',GradientType=1 )!important; /* IE6-9 */
}

@-webkit-keyframes toast {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes toast {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes toast {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes toast {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
