.panel-todos {
  background: rgba(255, 255, 255, 1)!important;
  /*background: rgba(255, 130, 0, .54)!important;*/
}
.panel-current {
  background: rgba(255, 255, 255, 1)!important;
}
.panel-current-display {
  background: rgba(0, 0, 255, .54)!important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.34);
  padding: 1rem;
}
.panel-current-display:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.34);
}
.panel-current-edit > textarea, .panel-current-edit > input {
  margin: .5rem auto;
  background: rgba(0, 0, 255, 0)!important;
}
.panel-current-edit > button {
}
textarea {
  min-height: 8rem;
}

.panel-info {
  background: rgba(255, 255, 255, 1)!important;
}
.panel-notes {
  background: rgba(255, 255, 255, 1)!important;
}
.panel-notes-dates > * {
  padding-left: .5rem;
}
.panel-notes-dates>*:first-child {
  padding-left: 2rem;
}
.panel-notes-dates > * {
  font-size: .75rem;
}

.elem:hover {
  background-color: rgba(0, 255, 0, .54);
  cursor: pointer;
}
.elem-note:hover {
  background-color: rgba(255, 150, 0, .54);
}
.elem-checked {
  color: rgba(0, 255, 0, .54);
}
.elem-checked:hover {
  background-color: rgba(0, 0, 0, 1);
}

.button-delete {
  color: rgba(255, 0, 0, .34);
}
.button-delete:hover {
  color: rgba(255, 0, 0, 1);
}
